/* -------------- Sensible Defaults ------------------- */
body {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  box-sizing: content-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.3rem;
}
h6 {
  font-size: 1.1rem;
}

p {
  margin-bottom: var(--space-2);
}

.flex-between {
  display: flex;
  width: 100%;
  padding: var(--space-2);
  justify-content: space-between;
  align-items: center;
}

h1 {
  flex: 1 1 auto;
  text-align: right;
}

a {
  padding: var(--space-1);
  text-decoration: none;
  text-align: center;
}

main {
  margin: var(--space-4) var(--space-2);
  border: 2px solid var(--c-border);
  min-height: 400px;
}

#timer {
  white-space: nowrap;
  text-align: right;
  width: 60px;
  display: inline-block;
}

.start,
.questions,
.results {
  margin: var(--space-4) var(--space-2);
  border: 2px solid var(--c-border);
  min-height: 400px;
}

.hidden {
  display: none;
}
